html, body {
	height: 100%; 
	margin: 0; 
	padding: 0; 
	background-image: url(img/back1.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden; 
	font-family: 'Inconsolata';
	color: rbga(0,0,0,0.9);
}

a {
	color: black;
}
h1, h2 {
	font-family: 'SubtleSansLight';
	margin:0;
	padding: 0;
}
h1 {	font-size: 3em; margin-bottom: 0.2em;}
h2 {font-size: 2em;}

section {
	height: 100%; 
	position: absolute; 
	width: 98%; 
	padding: 1%;
}
.info div { 
	display: inline-block;
	padding: 1%;
}

.info .about {
	width: 30%;
	background-color: rgba(255,255,255,1);
	height: 90%;
}
	
.info .about .avatar {
	height: 150px;
	background-color: rgba(0,0,0,0.1);
	float: right;
	margin-bottom: 0.2em;
	border-left: 1em solid white;
}
.info .about article {
	margin-top: 2em;
	border-top: 0.1em solid black;
	padding-top: 1em;
}

.info .about article .ref img {
	width: 20%;
	background-color: rgba(0,0,0,0.1);
}

.info .gameplay {
	width: 66%;
	height: 90%;
	background-color: rgba(0,0,0,0.8);
	float: right;
	color: white;
}

.mini-jeu{
	top: 100%; 
	background-color: rgba(0,0,0,1); 
	color: white;
}
