	html, body {height: 100%; margin: 0; padding: 0; color: white; 
	background-image: url(img/back1.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden; }
	a {color: white;}
	section {height: 100%; position: absolute; width: 98%; padding: 1%;}
		.entract {top: 100%;}
		.info { }
		.info article {margin: 1em; width: 45%; float: left; background-color: rgba(0,0,0,0.7); padding: 0.5em 0.8em;}
		.info .detail {background-color: rgba(0,0,0,0); width: 40%; height:6em; }
		.info .play {}
		.info .about {}
		.info .gameplay {}
		.mini-jeu{top: 100%; background-color: rgba(0,0,0,1); color: white;}
		
		h1 {font-size: 6em; padding: 0; margin: 0; text-transform: uppercase; max-width: 40%; float: left;} 
		
		.playspan {position: absolute; bottom: 7%; background-color: rgba(0,0,0,1); font-size: 2em; width: 100%; left: 0%; text-align: center; height: 2em; line-height: 1.7em;}
		
		.playspan a { text-decoration: none;}
		
		article h2 { margin: 0; padding: 0;}
		
		.ref {height: 60px; width: 60px; float: left; margin-right: 1em;}
		
		.detail img {height: 70px;float: left; margin-right: 1em;}
		.detail a {text-decoration: none; font-size: 2em; line-height: 70px;}